In [1]:
import pandas as pd, os

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'analysts_data.csv',
 'analysts_data1.csv',
 'analyst_data2.csv',
 'data_analyst_job - Copy.csv',
 'data_analyst_job.csv',
 'fsi-2021.xlsx',
 'in1__intro to pandas.ipynb',
 'in2__Pandas (basics).ipynb',
 'in3__Pandas Data Manipulation.ipynb',
 'in__2.1 Task (exploring and manipulating the datasets).ipynb',
 'ir211wk12sample.xls',
 'myfirstH5.h5',
 'myfirstpickle',
 'titanic.csv',
 'users_data.csv']

### Data Serialization formats:

Data serialization is the process of **converting data objects present in complex data structures into a byte stream** for storage, transfer and distribution purposes on physical devices.

- ### Binary form of data is the format in which system stores our data by serializing where serializing is the conversion of the objects into byte-form.
- ### Pickle format stores our data in byte-from (binary format) by serializing it.
- ### And when we try to read that pickle file, it will present our data in the original from by de-serializing.

## .pickle file format:

In [3]:
df = pd.read_csv('users_data.csv')

In [4]:
df.to_pickle("myfirstpickle")

## .h5 file format: (behaves like dictionary)

In [5]:
h5_data = pd.HDFStore("myfirstH5.h5")

In [6]:
type(h5_data)

pandas.io.pytables.HDFStore

In [7]:
h5_data['obj1'] = df
h5_data['obj1']

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,NaN,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
1,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,NaN,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
2,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,NaN,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
3,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,NaN,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
4,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,NaN,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
5,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,NaN,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
6,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,NaN,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
7,TraverseTowner,16629450,MDQ6VXNlcjE2NjI5NDUw,https://avatars.githubusercontent.com/u/166294...,NaN,https://api.github.com/users/TraverseTowner,https://github.com/TraverseTowner,https://api.github.com/users/TraverseTowner/fo...,https://api.github.com/users/TraverseTowner/fo...,https://api.github.com/users/TraverseTowner/gi...,https://api.github.com/users/TraverseTowner/st...,https://api.github.com/users/TraverseTowner/su...,https://api.github.com/users/TraverseTowner/orgs,https://api.github.com/users/TraverseTowner/repos,https://api.github.com/users/TraverseTowner/ev...,https://api.github.com/users/TraverseTowner/re...,User,False
8,MarcoGorelli,33491632,MDQ6VXNlcjMzNDkxNjMy,https://avatars.githubusercontent.com/u/334916...,NaN,https://api.github.com/users/MarcoGorelli,https://github.com/MarcoGorelli,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/gist...,https://api.github.com/users/MarcoGorelli/star...,https://api.github.com/users/MarcoGorelli/subs...,https://api.github.com/users/MarcoGorelli/orgs,https://api.github.com/users/MarcoGorelli/repos,https://api.github.com/users/MarcoGorelli/even...,https://api.github.com/users/MarcoGorelli/rece...,User,False
9,DonSeger,94080584,U_kgDOBZuOSA,https://avatars.githubusercontent.com/u/940805...,NaN,https://api.github.com/users/DonSeger,https://github.com/DonSeger,https://api.github.com/users/DonSeger/followers,https://api.github.com/users/DonSeger/followin...,https://api.github.com/users/DonSeger/gists{/g...,https://api.github.com/users/DonSeger/starred{...,https://api.github.com/users/DonSeger/subscrip...,https://api.github.com/users/DonSeger/orgs,https://api.github.com/users/DonSeger/repos,https://api.github.com/users/DonSeger/events{/...,https://api.github.com/users/DonSeger/received...,User,False
10,MarcoGorelli,33491632,MDQ6VXNlcjMzNDkxNjMy,https://avatars.githubusercontent.com/u/334916...,NaN,https://api.github.com/users/MarcoGorelli,https://github.com/MarcoGorelli,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/gist...,https://api.github.com/users/MarcoGorelli/star...,https://api.github.com/users/MarcoGorelli/subs...,https://api.github.com/users/MarcoGorelli/orgs,https://api.github.com/users/MarcoGorelli/repos,https://api.github.com/users/MarcoGorelli/even...,https://api.github.com/users/MarcoGorelli/rece...,User,False
11,oxlade39,144005,MDQ6VXNlcjE0NDAwNQ==,https://avatars.githubusercontent.com/u/144005...,NaN,https://api.github.com/users/oxlade39,https://github.com/oxlade39,https://api.github.com/users/oxlade39/followers,https://api.github.com/users/oxlade39/followin...,https://api.github.com/users/oxlade39/gists{/g...,https://api.github.com/users/oxlade39/starred{...,https://api.github.com/users/oxlade39/subscrip...,https://api.github.com/users/oxlade39/orgs,https://api.github.com/users/oxlade39/repos,https://api.github.com/users/oxlade39/events{/...,https://api.github.com/users/oxlade39/received...,User,False
12,ChristopheBernard,14012015,MDQ6VXNlcjE0MDEyMDE1,https://avatars.githubusercontent.com/u/140120...,NaN,https://api.github.com/users/ChristopheBernard,https://github.com/ChristopheBernard,https://api.github.com/users/ChristopheBernard...,https://api.github.com/users/ChristopheBernard...,https://api.github.com/users/ChristopheBernard...,https://api.github.com/users/ChristopheBernard...,https://api.github.com/users/ChristopheBernard...,https://api.github.com/users/ChristopheBernard...,https://api.github.com/users/ChristopheBernard...,https://api.github.com/users/ChristopheBernard...,https://api.github.com/users/ChristopheBernard...,User,False
13,glemaitre,7454015,MDQ6VXNlcjc0NTQwMTU=,https://avatars.githubusercontent.com/u/745401...,NaN,https://api.github.com/users/glemaitre,https://github.com/glemaitre,https://api.github.com/users/glemaitre/followers,https://api.github.com/users/glemaitre/followi...,https://api.github.com/users/glemaitre/gists{/...,https://api.github.com/users/glemaitre/starred...,https://api.github.com/users/glemaitre/subscri...,https://api.github.com/users/glemaitre/orgs,https://api.github.com/users/glemaitre/repos,https://api.github.com/users/glemaitre/events{...,https://api.github.com/users/glemaitre/receive...,User,False
14,WillAyd,609873,MDQ6VXNlcjYwOTg3Mw==,https://avatars.githubusercontent.com/u/609873...,NaN,https://api.github.com/users/WillAyd,https://github.com/WillAyd,https://api.github.com/users/WillAyd/followers,https://api.github.com/users/WillAyd/following...,https://api.github.com/users/WillAyd/gists{/gi...,https://api.github.com/users/WillAyd/starred{/...,https://api.github.com/users/WillAyd/subscript...,https://api.github.com/users/WillAyd/orgs,https://api.github.com/users/WillAyd/repos,https://api.github.com/users/WillAyd/events{/p...,https://api.github.com/users/WillAyd/received_...,User,False
15,twoertwein,6618166,MDQ6VXNlcjY2MTgxNjY=,https://avatars.githubusercontent.com/u/661816...,NaN,https://api.github.com/users/twoertwein,https://github.com/twoertwein,https://api.github.com/users/twoertwein/followers,https://api.github.com/users/twoertwein/follow...,https://api.github.com/users/twoertwein/gists{...,https://api.github.com/users/twoertwein/starre...,https://api.github.com/users/twoertwein/subscr...,https://api.github.com/users/twoertwein/orgs,https://api.github.com/users/twoertwein/repos,https://api.github.com/users/twoertwein/events...,https://api.github.com/users/twoertwein/receiv...,User,False
16,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,NaN,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
17,Sanix-Darker,22576758,MDQ6VXNlcjIyNTc2NzU4,https://avatars.githubusercontent.com/u/225767...,NaN,https://api.github.com/users/Sanix-Darker,https://github.com/Sanix-Darker,https://api.github.com/users/Sanix-Darker/foll...,https://api.github.com/users/Sanix-Darker/foll...,https://api.github.com/users/Sanix-Darker/gist...,https://api.github.com/users/Sanix-Darker/star...,https://api.github.com/users/Sanix-Darker/subs...,https://api.github.com/users/Sanix-Darker/orgs,https://api.github.com/users/Sanix-Darker/repos,https://api.github.com/users/Sanix-Darker/even...,https://api.github.com/users/Sanix-Darker/rece...,User,False
18,simonjayhawkins,13159005,MDQ6VXNlcjEzMTU5MDA1,https://avatars.githubusercontent.com/u/131590...,NaN,https://api.github.com/users/simonjayhawkins,https://github.com/simonjayhawkins,https://api.github.com/users/simonjayhawkins/f...,https://api.github.com/users/simonjayhawkins/f...,https://api.github.com/users/simonjayhawkins/g...,https://api.github.com/users/simonjayhawkins/s...,https://api.github.com/users/simonjayhawkins/s...,https://api.github.com/users/simonjayhawkins/orgs,https://api.github.com/users/simonjayhawkins/r...,https://api.github.com/users/simonjayhawkins/e...,https://api.github.com/users/simonjayhawkins/r...,User,False
19,jorisvandenbossche,1020496,MDQ6VXNlcjEwMjA0OTY=,https://avatars.githubusercontent.com/u/102049...,NaN,https://api.github.com/users/jorisvandenbossche,https://github.com/jorisvandenbossche,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,User,False
20,tehunter,7980666,MDQ6VXNlcjc5ODA2NjY=,https://avatars.githubusercontent.com/u/798066...,NaN,https://api.github.com/users/tehunter,https://github.com/tehunter,https://api.github.com/users/tehunter/followers,https://api.github.com/users/tehunter/followin...,https://api.github.com/users/tehunter/gists{/g...,https://api.github.com/users/tehunter/starred{...,https://api.github.com/users/tehunter/subscrip...,https://api.github.com/users/tehunter/orgs,https://api.github.com/users/tehunter/repos,https://api.github.com/users/tehunter/events{/...,https://api.github.com/users/tehunter/received...,User,False
21,JeanLescut,15925379,MDQ6VXNlcjE1OTI1Mzc5,https://avatars.githubusercontent.com/u/159253...,NaN,https://api.github.com/users/JeanLescut,https://github.com/JeanLescut,https://api.github.com/users/JeanLescut/followers,https://api.github.com/users/JeanLescut/follow...,https://api.github.com/users/JeanLescut/gists{...,https://api.github.com/users/JeanLescut/starre...,https://api.github.com/users/JeanLescut/subscr...,https://api.github.com/users/JeanLescut/orgs,https://api.github.com/users/JeanLescut/repos,https://api.github.com/users/JeanLescut/events...,https://api.github.com/users/JeanLescut/receiv...,User,False
22,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,NaN,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
23,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,NaN,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
24,wany-oh,98004396,U_kgDOBddtrA,https://avatars.githubusercontent.com/u/980043...,NaN,https://api.github.com/users/wany-oh,https://github.com/wany-oh,https://api.github.com/users/wany-oh/followers,https://api.github.com/users/wany-oh/following...,https://api.github.com/users/wany-oh/gists{/gi...,https://api.github.com/users/wany-oh/starred{/...,https://api.github.com/users/wany-oh/subscript...,https://api.github.com/users/wany-oh/orgs,https://api.github.com/users/wany-oh/repos,https://api.github.com/users/wany-oh/events{/p...,https://api.github.com/users/wany-oh/received_...,User,False
25,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,NaN,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
26,jonashaag,175722,MDQ6VXNlcjE3NTcyMg==,https://avatars.githubusercontent.com/u/175722...,NaN,https://api.github.com/users/jonashaag,https://github.com/jonashaag,https://api.github.com/users/jonashaag/followers,https://api.github.com/users/jonashaag/followi...,https://api.github.com/users/jonashaag/gists{/...,https://api.github.com/users/jonashaag/starred...,https://api.github.com/users/jonashaag/subscri...,https://api.github.com/users/jonashaag/orgs,https://api.github.com/users/jonashaag/repos,https://api.github.com/users/jonashaag/events{...,https://api.github.com/users/jonashaag/receive...,User,False
27,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,NaN,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
28,aamnv,33473597,MDQ6VXNlcjMzNDczNTk3,https://avatars.githubusercontent.com/u/334735...,NaN,https://api.github.com/users/aamnv,https://github.com/aamnv,https://api.github.com/users/aamnv/followers,https://api.github.com/users/aamnv/following{/...,https://api.github.com/users/aamnv/gists{/gist...,https://api.github.com/users/aamnv/starred{/ow...,https://api.github.com/users/aamnv/subscriptions,https://api.github.com/users/aamnv/orgs,https://api.github.com/users/aamnv/repos,https://api.github.com/users/aamnv/events{/pri...,https://api.github.com/users/aamnv/received_ev...,User,False
29,tehunter,7980666,MDQ6VXNlcjc5ODA2NjY=,https://avatars.githubusercontent.com/u/798066...,NaN,https://api.github.com/users/tehunter,https://github.com/tehunter,https://api.github.com/users/tehunter/followers,https://api.github.com/users/tehunter/followin...,https://api.github.com/users/tehunter/gists{/g...,https://api.github.com/users/tehunter/starred{...,https://api.github.com/users/tehunter/subscrip...,https://api.github.com/users/tehunter/orgs,https://api.github.com/users/tehunter/repos,https://api.github.com/users/tehunter/events{/...,https://api.github.com/users/tehunter/received...,User,False

In [7]:
h5_data['obj2']=pd.read_csv("data_analyst_job.csv")
h5_data['obj2']

,ID,Date,Job Title,Job Location,Hired,Easy Apply
0,24368,4/11/19 9:30,PHARMACEUTICAL DATA ANALYST,"Dallas, TX",False,False
1,24369,6/25/19 13:30,PHARMACEUTICAL DATA ANALYST,"Austin, TX",False,False
2,24371,10/26/19 1:00,PHARMACEUTICAL DATA ANALYST,"Boulder, CO",True,False
3,24374,3/2/19 19:30,PHARMACEUTICAL DATA ANALYST,"New York, NY",False,False
4,24388,4/4/19 19:30,PHARMACEUTICAL DATA ANALYST,"Chicago, IL",False,True
...,...,...,...,...,...,...
32591,12154531,8/19/19 23:31,QA DATA ANALYST,"New York, NY",False,False
32592,12157329,3/8/19 17:50,MANUFACTURING DATA ANALYST,"Chicago, IL",False,False
32593,12162108,10/23/19 12:05,QA DATA ANALYST,"San Francisco, CA",False,False
32594,12165032,2/14/19 1:44,DATA QUALITY ANALYST,"San Diego, CA",False,True
32595,12168373,4/6/19 15:03,NETWORK DATA ANALYST,"Houston, TX",False,False

In [8]:
try:
    h5_data.select("obj2", where=['index>100 and index<=200'])
except Exception as e:
    print(e)

cannot pass a where specification when reading from a Fixed format store. this store must be selected in its entirety

In [10]:
try:
    h5_data.select("obj1", where=['index>100 and index<=200'])
except Exception as e:
    print(e)

cannot pass a where specification when reading from a Fixed format store. this store must be selected in its entirety

In [9]:
h5_data.put('obj3', pd.read_csv("titanic.csv"), format='table')

In [10]:
h5_data.select("obj3", where=['index>100 and index<=200'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.0,0,1,4579,8.4042,NaN,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,0,0,248747,13.0000,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.0,0,0,345770,9.5000,NaN,S

In [11]:
df= pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
'''
str is denoted by 'object' in pandas.
'''
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### By default, our categorical data is ignored.

In [13]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [14]:
print(type(df.dtypes))
df.dtypes == 'object'

<class 'pandas.core.series.Series'>

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

### Since we know series datatype in pandas behaves like list.

In [17]:
df.dtypes[df.dtypes == 'object']

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

### Values on LHS behaves just like the index of the core data type list.

In [18]:
df.dtypes[df.dtypes == 'object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [15]:
obj_only=df[df.dtypes[df.dtypes == 'object'].index]
obj_only

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

## Now, unlike before, here comes the description of our Categorical Data:

In [16]:
obj_only.describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

## Task: filter out records having datatype float:

In [17]:
print(type(df.dtypes)) #Series, so it will behave like a list.
df.dtypes

<class 'pandas.core.series.Series'>

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [22]:
df[df.dtypes[df.dtypes == 'float'].index]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [23]:
l = df.dtypes.index
[i for i in l]

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

### OR:

In [20]:
cols=df.columns
cols

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

## Pretty much self-explanatory:

### i.e datatype in pandas changes on the basis of how we passed indices inside our dataframe.

In [21]:
type(df[cols[0]])

pandas.core.series.Series

In [22]:
type(df[[cols[0]]])

pandas.core.frame.DataFrame

In [23]:
type(df[[cols[7], cols[5]]])

pandas.core.frame.DataFrame

In [25]:
df[cols[3]][56:]

56                            Rugg, Miss. Emily
57                          Novel, Mr. Mansouer
58                 West, Miss. Constance Mirium
59           Goodwin, Master. William Frederick
60                        Sirayanian, Mr. Orsen
                         ...
886                       Montvila, Rev. Juozas
887                Graham, Miss. Margaret Edith
888    Johnston, Miss. Catherine Helen "Carrie"
889                       Behr, Mr. Karl Howell
890                         Dooley, Mr. Patrick
Name: Name, Length: 835, dtype: object

In [29]:
df['liked anime?'] = 'who knows..' #Creating a column.
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,liked anime?
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,who knows..
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,who knows..
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,who knows..
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,who knows..
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,who knows..
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,who knows..
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,who knows..
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,who knows..
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,who knows..
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,who knows..

### Copying a column data to a new column:

In [30]:
df['was happy?'] = df['Survived']
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,liked anime?,was happy?
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,who knows..,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,who knows..,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,who knows..,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,who knows..,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,who knows..,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,who knows..,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,who knows..,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,who knows..,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,who knows..,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,who knows..,0

## pd.Categorical()

**Note: If we set ordered parameter to True, then the original order in which our Categorical datatype is, is ABSOLUTE.**

In [31]:
pd.Categorical(df['Name'], ordered=True) #categories 891 i.e. 891 distinct names.

['Braund, Mr. Owen Harris', 'Cumings, Mrs. John Bradley (Florence Briggs T..., 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Allen, Mr. William Henry', ..., 'Montvila, Rev. Juozas', 'Graham, Miss. Margaret Edith', 'Johnston, Miss. Catherine Helen "Carrie"', 'Behr, Mr. Karl Howell', 'Dooley, Mr. Patrick']
Length: 891
Categories (891, object): ['Abbing, Mr. Anthony' < 'Abbott, Mr. Rossmore Edward' < 'Abbott, Mrs. Stanton (Rosa Hunt)' < 'Abelson, Mr. Samuel' ... 'de Pelsmaeker, Mr. Alfons' < 'del Carlo, Mr. Sebastiano' < 'van Billiard, Mr. Austin Blyler' < 'van Melkebeke, Mr. Philemon']

In [32]:
pd.Categorical(df['Sex'])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [33]:
pd.Categorical(df['Age'])

C:\Users\Suryansh Grover\anaconda3\lib\site-packages\pandas\io\formats\format.py:1429: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())

[22.0, 38.0, 26.0, 35.0, 35.0, ..., 27.0, 19.0, NaN, 26.0, 32.0]
Length: 891
Categories (88, float64): [0.42, 0.67, 0.75, 0.83, ..., 70.5, 71.0, 74.0, 80.0]

In [34]:
pd.Categorical(df['liked anime?'])

['who knows..', 'who knows..', 'who knows..', 'who knows..', 'who knows..', ..., 'who knows..', 'who knows..', 'who knows..', 'who knows..', 'who knows..']
Length: 891
Categories (1, object): ['who knows..']

In [35]:
pd.Categorical(df['Survived'])

[0, 1, 1, 1, 0, ..., 0, 1, 0, 1, 0]
Length: 891
Categories (2, int64): [0, 1]

### df[i].unique()

In [36]:
df['Age'].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [37]:
df['liked anime?'].unique()

array(['who knows..'], dtype=object)

In [38]:
df['Survived'].unique()

array([0, 1], dtype=int64)

## .isnull()

In [39]:
df['Survived'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Survived, Length: 891, dtype: bool

In [27]:
survived=df['Survived'][df['Survived'].isnull() == False] #DataSeries
survived

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [29]:
survivedd=df[df['Survived'].isnull() == False] #DataFrame
survivedd.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            881, 882, 883, 884, 885, 886, 887, 888, 889, 890],
           dtype='int64', length=891)

In [41]:
survived.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            881, 882, 883, 884, 885, 886, 887, 888, 889, 890],
           dtype='int64', length=891)

In [30]:
names=df['Name'][df['Name'].isnull() != True]
names

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [31]:
names.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            881, 882, 883, 884, 885, 886, 887, 888, 889, 890],
           dtype='int64', length=891)

## Extracting data Row-wise:

### .iloc[]: Purely integer-location based indexing for selection by position, but may also be used with a boolean array.
**We can also select the no. of columns we want with specific rows indices.**

In [32]:
df.iloc[names.index,:4] #4 columns selected.

,PassengerId,Survived,Pclass,Name
0,1,0,3,"Braund, Mr. Owen Harris"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
4,5,0,3,"Allen, Mr. William Henry"
...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas"
887,888,1,1,"Graham, Miss. Margaret Edith"
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie"""
889,890,1,1,"Behr, Mr. Karl Howell"
890,891,0,3,"Dooley, Mr. Patrick"

In [33]:
df.iloc[[56,78,98],:5]

,PassengerId,Survived,Pclass,Name,Sex
56,57,1,2,"Rugg, Miss. Emily",female
78,79,1,2,"Caldwell, Master. Alden Gates",male
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female

In [34]:
df['Cabin']

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [35]:
cabins=df['Cabin'][df['Cabin'].isnull() == False]
cabins

1              C85
3             C123
6              E46
10              G6
11            C103
          ...
871            D35
872    B51 B53 B55
879            C50
887            B42
889           C148
Name: Cabin, Length: 204, dtype: object

In [36]:
cabins.index

Int64Index([  1,   3,   6,  10,  11,  21,  23,  27,  31,  52,
            ...
            849, 853, 857, 862, 867, 871, 872, 879, 887, 889],
           dtype='int64', length=204)

In [37]:
df.iloc[cabins.index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

## Task: Extract the person's data who had paid the highest fare.

In [38]:
hfare=df[df['Fare'] == max(df['Fare'])]
hfare.index

Int64Index([258, 679, 737], dtype='int64')

In [39]:
df.iloc[hfare.index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C

In [40]:
df.iloc[hfare.index][['Name']]

                                   Name
258                    Ward, Miss. Anna
679  Cardeza, Mr. Thomas Drake Martinez
737              Lesurer, Mr. Gustave J

In [41]:
df.iloc[hfare.index]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object